In [2]:
from google.colab import drive 
drive.mount('/content/drive')

import os
myDirFiles= '/content/drive/MyDrive/Hackhaton/'
os.chdir(myDirFiles)

Mounted at /content/drive

In [3]:
import pandas as pd
data = pd.read_csv('MLAPBD.csv')
data.drop('Unnamed: 0', axis= 1, inplace= True)
data

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,sumber,tahun,kodedata,jeniscoa,nomorperda,tanggalperda,namasubfungsi,namaoutcome,targetoutcome,satuanoutcome,...,kodenamaakunjenis,kodenamaakunobjek,kodenamaakunrinci,kodenamaakunsubrinci,kodenamaakunsubsubrinci,kodenamasumberdana,kodenamasubkegaiatan,volumesatuan,kodenamalokasi,kodenamapemda
0,Sinergi5,2022,1,3,None,1900-01-01,Other,Other,0.0,NaN,...,retribusi daerah,retribusi jasa usaha,retribusi pemakaian kekayaan daerah,retribusi pemakaian ruangan,|Unknown|Unknown,unknownunknown,|000000|Non Sub Kegiatan,|0.0|Unknown,unknown,|1.0|Provinsi Aceh
1,Sinergi5,2022,1,3,None,1900-01-01,Other,Other,0.0,NaN,...,retribusi daerah,retribusi jasa usaha,retribusi pemakaian kekayaan daerah,retribusi penyewaan tanah dan bangunan,|Unknown|Unknown,unknownunknown,|000000|Non Sub Kegiatan,|0.0|Unknown,unknown,|1.0|Provinsi Aceh
2,Sinergi5,2022,1,3,None,1900-01-01,Other,Other,0.0,NaN,...,retribusi daerah,retribusi jasa usaha,retribusi tempat penginapan pesanggrahanvila,retribusi pelayanan tempat penginapan pesanggr...,|Unknown|Unknown,unknownunknown,|000000|Non Sub Kegiatan,|0.0|Unknown,unknown,|1.0|Provinsi Aceh
3,Sinergi5,2022,1,3,None,1900-01-01,Other,Other,0.0,NaN,...,lainlain pad yang sah,pendapatan denda atas keterlambatan pelaksanaa...,pendapatan denda atas keterlambatan pelaksanaa...,pendapatan denda atas keterlambatan pelaksanaa...,|Unknown|Unknown,unknownunknown,|000000|Non Sub Kegiatan,|0.0|Unknown,unknown,|1.0|Provinsi Aceh
4,Sinergi5,2022,1,3,None,1900-01-01,Other,Other,0.0,NaN,...,lainlain pad yang sah,pendapatan dari pengembalian,pendapatan dari pengembalian kelebihan pembaya...,pendapatan dari pengembalian kelebihan pembaya...,|Unknown|Unknown,unknownunknown,|000000|Non Sub Kegiatan,|0.0|Unknown,unknown,|1.0|Provinsi Aceh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985716,Sinergi5,2022,1,3,16/2021,2021-11-30,Lembaga Eksekutif Dan Legislatif Keuangan Dan ...,Terlaksananya Jasa Penunjang Urusan Pemerintah,1.0,tahun,...,belanja barang dan jasa,belanja jasa,belanja jasa kantor,belanja jasa tenaga operator komputer,|1.0|[#] | [-],pendapatan asli daerah pad,|040000|Penyediaan Jasa Pelayanan Umum Kantor,|96.0|Orang / Bulan,unknown,|6.02|Kab. Musi Banyuasin
985717,Sinergi5,2022,1,3,16/2021,2021-11-30,Lembaga Eksekutif Dan Legislatif Keuangan Dan ...,Terlaksananya Jasa Penunjang Urusan Pemerintah,1.0,tahun,...,belanja barang dan jasa,belanja jasa,belanja jasa kantor,belanja jasa tenaga operator komputer,|1.0|[#] | [-],pendapatan asli daerah pad,|040000|Penyediaan Jasa Pelayanan Umum Kantor,|8.0|Orang / Kali,unknown,|6.02|Kab. Musi Banyuasin
985718,Sinergi5,2022,1,3,16/2021,2021-11-30,Lembaga Eksekutif Dan Legislatif Keuangan Dan ...,Terpenuhinya Pemeliharaan Barang Milik Daerah,1.0,tahun,...,belanja barang dan jasa,belanja jasa,belanja jasa kantor,belanja pembayaran pajak bea dan perizinan,|1.0|[#] Pajak Kendaraan Dinas/Operasional | [-],pendapatan asli daerah pad,"|020000|Penyediaan Jasa Pemeliharaan, Biaya Pe...",|2.0|Unit / Tahun,kab musi banyuasin bayung lencir bayung lencir...,|6.02|Kab. Musi Banyuasin
985719,Sinergi5,2022,1,3,16/2021,2021-11-30,Lembaga Eksekutif Dan Legislatif Keuangan Dan ...,Terpenuhinya Pemeliharaan Barang Milik Daerah,1.0,tahun,...,belanja barang dan jasa,belanja jasa,belanja jasa kantor,belanja pembayaran pajak bea dan perizinan,|1.0|[#] Pajak Kendaraan Dinas/Operasional | [-],pendapatan asli daerah pad,"|020000|Penyediaan Jasa Pemeliharaan, Biaya Pe...",|1.0|Unit / Tahun,kab musi banyuasin bayung lencir bayung lencir...,|6.02|Kab. Musi Banyuasin
985720,Sinergi5,2022,1,3,16/2021,2021-11-30,Lembaga Eksekutif Dan Legislatif Keuangan Dan ...,Terpenuhinya Pemeliharaan Barang Milik Daerah,1.0,tahun,...,belanja barang dan jasa,belanja pemeliharaan,belanja pemeliharaan peralatan dan mesin,belanja pemeliharaan alat angkutanalat angkuta...,|1.0|[#] Pemeliharaan Kendaraan Dinas/Operasio...,pendapatan asli daerah pad,"|020000|Penyediaan Jasa Pemeliharaan, Biaya Pe...",|1.0|Unit/Tahun,kab musi banyuasin bayung lencir bayung lencir...,|6.02|Kab. Musi Banyuasin

In [4]:
data_new = data.apply(lambda x: pd.factorize(x)[0])

In [5]:
data_new

,sumber,tahun,kodedata,jeniscoa,nomorperda,tanggalperda,namasubfungsi,namaoutcome,targetoutcome,satuanoutcome,...,kodenamaakunjenis,kodenamaakunobjek,kodenamaakunrinci,kodenamaakunsubrinci,kodenamaakunsubsubrinci,kodenamasumberdana,kodenamasubkegaiatan,volumesatuan,kodenamalokasi,kodenamapemda
0,0,0,0,0,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,-1,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,-1,...,0,0,1,2,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,-1,...,1,1,2,3,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,-1,...,1,2,3,4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985716,0,0,0,0,10,23,1,12008,4,6,...,6,24,74,125,2,261,1077,733,0,105
985717,0,0,0,0,10,23,1,12008,4,6,...,6,24,74,125,2,261,1077,4271,0,105
985718,0,0,0,0,10,23,1,1809,4,6,...,6,24,74,163,95431,261,1129,4674,505,105
985719,0,0,0,0,10,23,1,1809,4,6,...,6,24,74,163,95431,261,1129,4039,505,105
985720,0,0,0,0,10,23,1,1809,4,6,...,6,25,82,189,5893,261,1129,350,505,105

In [6]:
len(data_new['nomorperda'].unique())

18

In [7]:
data_new['satuanoutcome']= data_new['satuanoutcome'].replace({-1 : 137})
data_new['satuanoutcome'].unique()

array([137,   0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247])

In [8]:
data_new['satuanoutcome'].unique()

array([137,   0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247])

In [9]:
data_new

,sumber,tahun,kodedata,jeniscoa,nomorperda,tanggalperda,namasubfungsi,namaoutcome,targetoutcome,satuanoutcome,...,kodenamaakunjenis,kodenamaakunobjek,kodenamaakunrinci,kodenamaakunsubrinci,kodenamaakunsubsubrinci,kodenamasumberdana,kodenamasubkegaiatan,volumesatuan,kodenamalokasi,kodenamapemda
0,0,0,0,0,0,0,0,0,0,137,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,137,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,137,...,0,0,1,2,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,137,...,1,1,2,3,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,137,...,1,2,3,4,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985716,0,0,0,0,10,23,1,12008,4,6,...,6,24,74,125,2,261,1077,733,0,105
985717,0,0,0,0,10,23,1,12008,4,6,...,6,24,74,125,2,261,1077,4271,0,105
985718,0,0,0,0,10,23,1,1809,4,6,...,6,24,74,163,95431,261,1129,4674,505,105
985719,0,0,0,0,10,23,1,1809,4,6,...,6,24,74,163,95431,261,1129,4039,505,105
985720,0,0,0,0,10,23,1,1809,4,6,...,6,25,82,189,5893,261,1129,350,505,105

In [10]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

from sklearn.model_selection import train_test_split

In [11]:
from sklearn.preprocessing import MinMaxScaler
x =  MinMaxScaler().fit_transform(data_new)
y = data['nilaianggaran']

In [12]:
y

0          31600000.0
1          50000000.0
2          57250000.0
3          50000000.0
4         600669000.0
             ...
985716    172800000.0
985717      4000000.0
985718      5000000.0
985719      4000000.0
985720     33580000.0
Name: nilaianggaran, Length: 985721, dtype: float64

In [13]:
x

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.15992062, 0.99802372,
        1.        ],
       [0.        , 0.        , 0.        , ..., 0.13819414, 0.99802372,
        1.        ],
       [0.        , 0.        , 0.        , ..., 0.01197523, 0.99802372,
        1.        ]])

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y,test_size=0.01, random_state = 42)

In [15]:
from sklearn.tree import DecisionTreeRegressor

In [16]:
model_case_tree = DecisionTreeRegressor (max_depth=40,min_samples_split= 5)

model_case_tree.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=40, min_samples_split=5)

In [17]:
nilai_anggaran = model_case_tree.predict(X_test)
print(nilai_anggaran)
semua_nilai_anggaran= model_case_tree.predict(x)
print(semua_nilai_anggaran)

[2.8764860e+08 4.0687500e+06 2.0203405e+06 ... 1.6475000e+08 7.1486050e+06
 9.6000000e+07]
[40800000. 40800000. 51812500. ...  7625000.  3750000. 33580000.]

In [18]:
print(round(mean_absolute_error(y_test,nilai_anggaran)))  #y_test x_test

227496621

In [19]:
print(round(mean_absolute_error(y_train, model_case_tree.predict(X_train))))

93636787

In [20]:
print("Training Accuracy: {0:.2f}".format(model_case_tree.score(X_train, y_train)))
print("Testing Accuracy: {0:.2f}".format(model_case_tree.score(X_test, y_test)))

Training Accuracy: 0.91
Testing Accuracy: 0.86

In [21]:
nilai_anggaran_pred_tree =pd.DataFrame(semua_nilai_anggaran, columns=['predict_anggaran'])

In [22]:
casee_tree = y
case_pred_anggaran =pd.DataFrame(semua_nilai_anggaran, columns=['predict_anggaran'])

In [23]:
t = pd.concat([case_pred_anggaran,casee_tree], axis=1)
t

        predict_anggaran  nilaianggaran
0             40800000.0     31600000.0
1             40800000.0     50000000.0
2             51812500.0     57250000.0
3             51812500.0     50000000.0
4            600669000.0    600669000.0
...                  ...            ...
985716       172800000.0    172800000.0
985717         4000000.0      4000000.0
985718         7625000.0      5000000.0
985719         3750000.0      4000000.0
985720        33580000.0     33580000.0

[985721 rows x 2 columns]

In [24]:
# t.to_excel('/content/drive/MyDrive/Hackhaton/hasil_update2.xlsx')